# Series

In [1]:
import pandas as pd

In [4]:
x = [1,2,3,4]
var=pd.Series(x)
print(var)
print(type(var))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
print(var[1])

2

In [8]:
var=pd.Series(x,index=['a','b','c','d'],dtype='float',name='abcd')

In [9]:
print(var)

a    1.0
b    2.0
c    3.0
d    4.0
Name: abcd, dtype: float64

In [11]:
dic={'name':['baa','caa'], 1:[1,'no']}
var1=pd.Series(dic)
print(var1)

name    [baa, caa]
1          [1, no]
dtype: object

In [13]:
s1=pd.Series(12,index=[1,2,3,4])
s2=pd.Series(12,index=[1,2])
print(s1+s2)

1    24.0
2    24.0
3     NaN
4     NaN
dtype: float64

# DataFrame

In [14]:
d={'a':[1,2,3,4],'s':[2,3,4,6]}
var1=pd.DataFrame(d)
print(var1)

   a  s
0  1  2
1  2  3
2  3  4
3  4  6

In [17]:
var1=pd.DataFrame(d,columns=["a"]) #get coulmns of only a
print(var1)

   a
0  1
1  2
2  3
3  4

In [18]:
var2=pd.DataFrame(d,index=[2,3,4,5])
print(var2)

   a  s
2  1  2
3  2  3
4  3  4
5  4  6

In [20]:
print(var2['a'][2])

1

In [24]:
newl=[1,2]
new=pd.DataFrame(newl)
print(new)
print(type(new))

   0
0  1
1  2
<class 'pandas.core.frame.DataFrame'>

In [25]:
l2=[[1,2],[3,400]]
new2=pd.DataFrame(l2)
print(new2)

   0    1
0  1    2
1  3  400

In [27]:
#creating data frame from series
sr={'s':pd.Series([1,2,3]),'a':pd.Series([2,3,4])}
var4=pd.DataFrame(sr)
print(var4)

   s  a
0  1  2
1  2  3
2  3  4

# Arthimetic Operations

In [38]:
var5=pd.DataFrame({'A':[1,2], 'B':[5,6]})
print(var5)

   A  B
0  1  5
1  2  6

In [29]:
var5

   A  B
0  1  5
1  2  6

In [31]:
var5["C"]=var5['A']+var5['B']
var5

   A  B  C
0  1  5  6
1  2  6  8

In [33]:
var5["C"]=var5['A']-var5['B']
var5

   A  B  C
0  1  5 -4
1  2  6 -4

In [39]:
var5['For A']= var5['A'] <=2
var5['For B']= var5['B'] <6
var5

   A  B  For A  For B
0  1  5   True   True
1  2  6   True  False

# DELETE AND INSERT

## Insert

In [47]:
new1=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
new1

   A  B
0  1  4
1  2  5
2  3  6

In [51]:
#new1.insert(1,'Python',var['A'])

print(new1['A'])

0    1
1    2
2    3
Name: A, dtype: int64

In [50]:
new1

   A  B
0  1  4
1  2  5
2  3  6

In [52]:
new1['A']

0    1
1    2
2    3
Name: A, dtype: int64

In [53]:
new1.insert(1,'Python',var['A'])

KeyError: 'A'

In [55]:
new1.insert(1,'Python',[40,50,60])
new1

   A  Python  B
0  1      40  4
1  2      50  5
2  3      60  6

In [56]:
new1["copy_col"]=new1['A'][:1]
new1

   A  Python  B  copy_col
0  1      40  4       1.0
1  2      50  5       NaN
2  3      60  6       NaN

# #DELETE

In [57]:
newnew= new1.pop('copy_col')
newnew

0    1.0
1    NaN
2    NaN
Name: copy_col, dtype: float64

In [58]:
new1

   A  Python  B
0  1      40  4
1  2      50  5
2  3      60  6